.slick-arrow.slick-prev,
.slick-arrow.slick-next {
  background-color: none;
  width: 75px;
  height: 265px;
  z-index: 2;
  display: flex;
  align-items: center;
  justify-content: center;
  position: absolute;
  top: 135px;
}

.slick-arrow.slick-prev:active,
.slick-arrow.slick-next:active {
  border: 2px solid rgba(23, 133, 127, 0.671);
  border-radius: 2px;
}

.slick-prev {
  left: 0;
  filter: drop-shadow(2px 0px #fff);
}

.slick-next {
  right: 0;
  filter: drop-shadow(-2px 0px #fff);
}

.slick-prev::before,
.slick-next::before {
  display: none;
}
.slide__container {
  width: 1500px;
  align-items: center;
}
.slide__images {
  mask-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 1) 40%,
    rgba(0, 0, 0, 0)
  );
  width: 100%;
  vertical-align: top;
}

/*.adSlider {
  border: 1px solid red;
  position: relative;
  max-width: 100%;
  height: 100vh;
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center;
}

.slide {
  border: 1px solid blue;
  min-width: 100%;
  height: 80%;
  transition: 0.5s;
}

.slide-bttn {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 5%;
  height: 80%;
  background: none;
}

#goLeft {
  left: 0;
}

#goRight {
  right: 0;
}
*/
